
<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <h1 class="text-light">Sign Up</h1>


                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="" class="label">Name</form>
                    <input name="name" [(ngModel)]="name" type="text" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <form action="" class="label">Address</form>
                    <input name="address" [(ngModel)]="address" type="text" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <form action="" class="label">Pincode</form>
                    <input name="pincode" [(ngModel)]="pincode" type="text" name="" id="" class="form-control">
                </div>
   
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="" class="label">Email</form>
                    <input name="email" [(ngModel)]="email" type="email" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="" class="label">Phone Number</form>
                    <input name="phone" [(ngModel)]="phone" type="number" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="" class="label">Password</form>
                    <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="" class="label">Confirm Password</form>
                    <input name="cpassword" [(ngModel)]="cpassword" type="password" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="eventSign()" class="btn btn-dark">Register</button>
                </div>
               
            </div>
        </div>
    </div>
</div>