
<app-nav></app-nav>
<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card" >
                            <img height="250" src="https://images.unsplash.com/photo-1628840042765-356cda07504e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVwcGVyb25pJTIwcGl6emF8ZW58MHx8MHx8&w=1000&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Pepperoni pizza</h5>
                              <p class="card-text">800</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card" >
                            <img height="250" src="https://static.toiimg.com/photo/msid-87930581/87930581.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">vegan pizza</h5>
                              <p class="card-text">500</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card" >
                            <img height="250" src="https://img.freepik.com/free-photo/top-view-pepperoni-pizza-sliced-into-six-slices_141793-2157.jpg?w=2000" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Cheese pizza</h5>
                              <p class="card-text">600</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card" >
                            <img height="250" src="https://media-cdn.tripadvisor.com/media/photo-p/15/2d/23/07/domino-s-pizza.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Dominos pizza</h5>
                              <p class="card-text">500</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card" >
                            <img height="250" src="https://www.foodandwine.com/thmb/CGXpgjWOgHWv9TsqyMoLyl5cYrs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/soppressata-pizza-with-calabrian-chile-hot-honey-FT-RECIPE0422-827abb3537834dbcb6ab0bbd6efece39.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Soppressata pizza</h5>
                              <p class="card-text">500</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card" >
                            <img height="250" src="https://cookieandkate.com/images/2020/10/best-veggie-pizza-recipe-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">veggie pizza</h5>
                              <p class="card-text">500</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="250" src="https://b.zmtcdn.com/data/pictures/chains/5/45855/0def38db808ff5ee044841d4ed8ffd9f.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Caprina Pizza</h5>
                              <p class="card-text">700</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="250" src="https://tastesbetterfromscratch.com/wp-content/uploads/2020/10/White-Pizza-6.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">white pizza</h5>
                              <p class="card-text">500</p>
                              <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                          </div>

                    </div>
                </div>
            
        </div>
    </div>
</div>